<section class="content">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3">
      <h3>Ngày: {{date.getUTCDate()}}/{{date.getUTCMonth() + 1}}/{{date.getUTCFullYear()}}</h3>
      <div class="form-group">
        <label for="search">Lọc số: </label>
        <input id="search" type="text" placeholder="Nhập số" name="search" [(ngModel)]="search">
      </div>
      <div class="form-group">
        <textarea name="data" [(ngModel)]="data" cols="60" rows="5" placeholder="Input"></textarea>
      </div>
      <div class="form-group">
        <textarea name="data" [(ngModel)]="exportData" cols="60" rows="5" placeholder="Số lớn hơn điều kiện"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-outline-primary" (click)="searchNumber()">Nhập dữ liệu</button>
      </div>
    </div>
    <div class="col-md-1 text-center">
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">
            Kết quả
          </h3>
          <div class="card-tools">
            <button class="btn btn-outline-primary float-lg-right" (click)="submit()">
              Đánh
            </button>
          </div>
        </div>
        <div class="card-body table-responsive p-0" style="height: 350px;">
          <table class="table table-head-fixed">
            <thead>
            <tr>
              <th>Số</th>
              <th>Điểm</th>
              <th>Point</th>
              <th>Thành tiền</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let number of resultNumbers" [style.background]="number.checked?'#349af3':''">
              <td>{{number.Number}}</td>
              <td>{{number.point}}</td>
              <td>{{number.ExtraPrice}}</td>
              <td>{{number.ExtraPrice * number.point}}</td>
            </tr>
            </tbody>
            <tfoot *ngIf="resultNumbers.length!=0">
            <tr>
              <td class="text-bold">Tổng số: {{resultNumbers.length}}</td>
              <td class="text-bold">Tổng điểm: {{totalPoint}}</td>
              <td></td>
              <td class="text-bold">Tổng tiền: {{totalMoney}}</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td class="align-bottom">
                <button class="btn btn-outline-danger float-lg-right" (click)="clearAll()">
                  Xóa hết
                </button>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">
            MÃ CƯỢC GẦN ĐÂY
          </h3>
          <div class="card-tools">
          </div>
        </div>
        <div class="card-body table-responsive p-0">
          <table class="table table-head-fixed">
            <thead>
            <tr>
              <th>Số</th>
              <th></th>
              <th>Point</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ticket of latest">
              <td>{{ticket.TicketNumber}}</td>
              <td></td>
              <td>{{ticket.Amount}}</td>
              <td>
                <button class="btn btn-outline-danger" [disabled]="ticket.Status!=1">Hủy</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</section>
