<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-1"></div>
      <div class="col-sm-4">
        <h1>Tỉ lệ</h1>
      </div>
      <div class="col-sm-2">
        <div class="row">
          <div class="col-8">
            <textarea name="data" [(ngModel)]="data" rows="3"></textarea>
          </div>
          <div class="col-2">
            <button class="btn btn-outline-primary" (click)="searchNumber()">Search</button>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-1"></div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<section class="content">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"></h3>
          <input type="text" (keyup)="filterNumberLowerThan()" placeholder="Nhập điểm" name="search"
                 [(ngModel)]="search">
          <div class="card-tools">
          </div>
        </div>
        <div class="card-body">
          <table class="table table-hover">
            <thead>
            <tr>
              <th style="width: 150px">Số</th>
              <th>Điểm</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let number of filterNumbers">
              <td>{{number.Number}}</td>
              <td>{{number.ExtraPrice}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-2 text-center">
      <input type="text" name="point" [(ngModel)]="point">
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">
            Kết quả
          </h3>

          <div class="card-tools">
            <button class="btn btn-outline-danger" (click)="clearAll()">
              Xóa hết
            </button>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Số</th>
              <th>Điểm</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let number of resultNumbers" [style.background]="number.checked?'#349af3':''">
              <td>{{number.Number}}</td>
              <td>{{number.ExtraPrice}} x {{number.point}}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td></td>
              <td class="text-bold">Tổng điểm: {{totalPoint}}</td>
            </tr>
            <tr>
              <td></td>
              <td>
                <button class="btn btn-outline-primary float-lg-right" (click)="submit()">
                  Đánh
                </button>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</section>
