<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Danh sách tài khoản</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
          <li class="breadcrumb-item active">Danh sách tài khoản</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title"></h3>
      <div class="card-tools">
        <a routerLink="create" class="btn btn-primary float-lg-right">
          Tạo mới
        </a>
      </div>
    </div>
    <div class="card-body table-responsive p-0" style="height: 600px;">
      <table class="table table-head-fixed">
        <thead>
        <tr>
          <th style="width: 10px">#</th>
          <th>Tên tài khoản</th>
          <th>Quyền hạn</th>
          <th style="width: 160px"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of listUser; index as i">
          <ng-container *ngIf="currentUsername != user.payload.doc.data().username">
            <td>{{i + 1}}</td>
            <td>
              <span>{{user.payload.doc.data().username}}</span>
            </td>
            <td>
              <span>{{user.payload.doc.data().role}}</span>
            </td>
            <td>
              <div class="row">
                <div class="col-6">
                  <button class="btn btn-block btn-primary" style="color: white" data-toggle="modal"
                          data-target="#modal-update" (click)="getUser(user)">
                    <i class="fas fa-edit"></i>
                  </button>
                </div>
                <div class="col-6">
                  <button type="button" class="btn btn-block btn-danger" style="color: white" data-toggle="modal"
                          data-target="#modal-delete" (click)="getUser(user)">
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
              </div>
            </td>
          </ng-container>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal fade" id="modal-delete">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Xóa tài khoản</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Bạn có chắc muốn xóa tài khoản này</p>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
          <button type="button" class="btn btn-danger" (click)="deleteUser(user)">Xóa</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <div class="modal fade" id="modal-update">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Chỉnh sửa tài khoản</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="inputName">Tên tài khoản</label>
            <input type="text" id="inputName" class="form-control" name="username" [(ngModel)]="username">
          </div>
          <div class="form-group">
            <label for="role">Cấp quyền</label>
            <select id="role" class="form-control" name="role" [(ngModel)]="role">
              <option value="admin" [selected]="role == 'admin'">Admin</option>
              <option value="manager" [selected]="role == 'manager'">Quản lý</option>
            </select>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
          <button type="button" class="btn btn-primary" (click)="updateUser(user)">Chỉnh sửa</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</section>
